body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
    background-color: dimgray;
}

.passcode-container {
    text-align: center;
    padding: 30px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#passcode-input {
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #ccc;
    border-radius: 20px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}

#feedback-message {
    margin-top: 15px;
    color: darkred; /* Default color for an incorrect message */
}

